.cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;

  @media (max-width: $width-wide) {
    padding: 0;
    gap: 6rem;
  }
  @media (max-width: $width-max-mobile) {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}

.cols-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  padding: 2rem 0;

  @media (max-width: $container-desktop) {
    padding: 0;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $container-ipad) {
    gap: 3.2rem;
  }

  @media (max-width: $width-mobile) {
    grid-template-columns: 1fr;
  }
}
